.social-media-icons{
    font-size: 100px;
    color: white;
}

.social-media-icons:hover{
    filter: brightness(50%);
}

.old-page-link{
    font-size: 15px;
    margin-bottom: 0;
}

.old-page-link>a{
    color: lightseagreen;
}